@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CircularSp';
  src: url('./assets/fonts/CircularSp-Book.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CircularSp';
  src: url('./assets/fonts/CircularSp-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'CircularSpTitle';
  src: url('./assets/fonts/CircularSpTitle.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CircularSpTitle';
  src: url('./assets/fonts/CircularSpTitle-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'CircularSpTitle';
  src: url('./assets/fonts/CircularSpTitle-Black.woff2') format('woff2');
  font-weight: 900;
}

:root {
  --sp-body-bg: #000000;
  --sp-body-color: white;
  --sp-panel-gap: 8px;
  --sp-tile-border-radius: 8px;
  --font-family: CircularSp;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva
  );
}

body {
  background: var(--sp-body-bg);
  color: var(--sp-body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply overflow-hidden text-base;
}

#root {
  @apply flex flex-col h-[100svh];
}

.layout {
  grid-template-columns: 420px 1fr;
  grid-template-rows: 1fr auto;
  @apply grid h-full gap-2 p-2;
}

.layout--collapsed {
  grid-template-columns: 72px 1fr;
}

h1,
h1 > *,
h2,
h2 > *,
h3,
h3 > * {
  @apply font-circular-sp-title;
}

.gradient {
  background: rgb(72, 32, 176);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=');
}

.gradient-playlist {
  background-image: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=');
}

.os-theme-dark {
  --os-handle-bg: hsla(0, 0%, 100%, 0.3);
  --os-handle-bg-hover: hsla(0, 0%, 100%, 0.5);
  --os-handle-bg-active: hsla(0, 0%, 100%, 0.7);
  --os-handle-border-radius: 0px;
  --os-size: 16px;
}
