@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CircularSp';
  src: url('./assets/fonts/CircularSp-Book.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CircularSp';
  src: url('./assets/fonts/CircularSp-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'CircularSpTitle';
  src: url('./assets/fonts/CircularSpTitle.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CircularSpTitle';
  src: url('./assets/fonts/CircularSpTitle-Bold.woff2') format('woff2');
  font-weight: 700;
}

:root {
  --sp-body-bg: #000000;
  --sp-body-color: white;
  --sp-panel-gap: 8px;
  --sp-tile-border-radius: 8px;
  --font-family: CircularSp;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva
  );
}

body {
  background: var(--sp-body-bg);
  color: var(--sp-body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
